<div class="container">
  <p class="error-banner" *ngIf="errorMessage">{{ errorMessage }}</p>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Book Name</th>
      <th>Copy ID</th>
      <th>Status</th>
    </tr>

    <tr *ngFor="let item of issuedBooks">
      <td>{{ item.memberName }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.bookTitle }}</td>
      <td>{{ item.copyId }}</td>
      <td>
        <span [ngClass]="item.status.toLowerCase()">
          {{ item.status }}
        </span>
      </td>
    </tr>
  </table>
</div>